@model IEnumerable<CodeFirst_Demo.Models.UserModel>

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<table class="table table-striped">
    <tr class="table-primary">
        <th scope="col">
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Age)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">
                @* 這邊要用 modelItem 關鍵字 *@
                @Html.DisplayFor(modelItem => item.Id)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
        </tr>
    }
</table>