@model CodeFirst_Demo.Models.UserModel;

@{
    ViewBag.Title = "新增 User";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

@* <a href="@ViewData["RefererUrl"]">Return to client detail</a> *@
<button type="button" class="btn btn-success btn-sm" style="margin: 1rem;" onclick="location.href='@ViewData["RefererUrl"]'">回前頁</button>

<hr/>

@* 參考: https://www.completecsharptutorial.com/asp-net-mvc5/4-ways-to-create-form-in-asp-net-mvc.php *@
@using (Html.BeginForm("AddUser", "User", FormMethod.Post))
{
    <h2>輸入基本資料</h2>
    <div class="form-group">
        <label for="UserName">UserName:</label>
        @Html.TextBoxFor(mm => mm.UserName, new { placeholder = "Enter UserName", @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        @Html.TextBoxFor(mm => mm.Email, new { placeholder = "Enter Email", @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="age">Age:</label>
        @Html.TextBoxFor(mm => mm.Age, new { placeholder = "Enter Age", @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
}

@* <div style="margin: 1rem;"> *@
@*     <form action="/User/AddUser" method="POST"> *@
@*         <h2>輸入基本資料</h2> *@
@*         <div class="form-group"> *@
@*             <label for="UserName">UserName:</label> *@
@*             <input type="text" class="form-control" id="UserName" placeholder="Enter UserName" name="UserName" value="叮噹貓"/> *@
@*         </div> *@
@*         <div class="form-group"> *@
@*             <label for="email">Email:</label> *@
@*             <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" value="gg919@hotmail.com"/> *@
@*         </div> *@
@*         <div class="form-group"> *@
@*             <label for="age">Age:</label> *@
@*             <input type="text" class="form-control" id="age" placeholder="Enter age" name="age" value="23"/> *@
@*         </div> *@
@*         <button type="submit" class="btn btn-info">Submit</button> *@
@*     </form> *@
@* </div> *@