@* @model System.Collections.Generic.List<CodeFirst_Demo.Models.UserModel> *@
@using Microsoft.EntityFrameworkCore.Internal
@model IEnumerable<CodeFirst_Demo.Models.UserModel>

@{
    ViewBag.Title = "我是 ViewBag.title: User";
    Layout = "_Layout";
}

@{
    Model.ToList().ForEach(Console.WriteLine);
}

<h2>@ViewBag.Title</h2>

<button type="button" class="btn btn-primary btn-lg" style="margin: 1rem;" onclick="location.href='@Url.Action("ToAddUserPage","User")'">新增User</button>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr style="background: lightblue;">
            <th scope="col">#</th>
            <th scope="col">@Html.DisplayNameFor(modelGG => modelGG.Id)</th>
            @* <th scope="col">@Html.DisplayNameFor(model => model.Name)</th> *@
            <th scope="col">@Html.DisplayNameFor(modelGG => modelGG.UserName)</th>
            <th scope="col">@Html.DisplayNameFor(modelGG => modelGG.Email)</th>
            <th scope="col">@Html.DisplayNameFor(modelGG => modelGG.Age)</th>
            <th scope="col" style="background: #fa992a;">動作</th>
        </tr>
    </thead>
    <tbody>
        @{int i = 0;}
        @foreach (var item in Model)
        {
            ViewData["idx"] = i;
            <partial name="ItemPartial" model="item" view-data="ViewData"/>
            i++;
        }
    </tbody>
</table>