@* @model System.Collections.Generic.List<CodeFirst_Demo.Models.UserModel> *@
@using Microsoft.EntityFrameworkCore.Internal
@model IEnumerable<CodeFirst_Demo.Models.UserModel>

@{
    ViewBag.Title = "我是 ViewBag.title: User";
    Layout = "_Layout";
}

@{
    Model.ToList().ForEach(Console.WriteLine);
}

<h2>@ViewBag.Title</h2>

@* GET 跳頁 *@
<button type="button" class="btn btn-outline-primary" style="margin: 1rem;" onclick="location.href='@Url.Action("AddUser","User")'">新增User(Get)</button>

@* POST 跳頁 *@
@* @using (Html.BeginForm("AddUser", "User", FormMethod.Post, new { id = "toAddUserBtn", @class = "" })) *@
@* { *@
@*     @Html.AntiForgeryToken() *@
@*     <a href="javascript:document.getElementById('toAddUserBtn').submit()" class="btn btn-outline-primary">新增User(Post)</a> *@
@* } *@

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr style="background: lightblue; text-align: center;">
            <th scope="col">#</th>
            <th scope="col">@Html.DisplayNameFor(modelGG => modelGG.Id)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
            <th scope="col">@Html.DisplayNameFor(modelGG => modelGG.UserName)</th>
            <th scope="col">@Html.DisplayNameFor(modelGG => modelGG.Email)</th>
            <th scope="col">@Html.DisplayNameFor(modelGG => modelGG.Age)</th>
            <th scope="col" style="background: #fa992a;">動作</th>
        </tr>
    </thead>
    <tbody>
        @{int i = 0;}
        @foreach (var item in Model)
        {
            ViewData["idx"] = i;
            <partial name="ItemPartial" model="item" view-data="ViewData"/>
            i++;
        }
    </tbody>
</table>